@font-face {
  font-family: "RobotoRegular";
  /* Имя шрифта */
  src: /* Путь к файлу со шрифтом */
    url("/font/Roboto/RobotoRegular/RobotoRegular.woff2")
      format("woff2"),

    url("/font/Roboto/RobotoRegular/RobotoRegular.woff")
      format("woff");

  font-style: normal;
  font-weight: normal;
}
