@font-face {
  font-family: "RobotoRegular";
  /* Имя шрифта */
  src: url("/font/Roboto/RobotoRegular/RobotoRegular.woff2") format("woff2");
  /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal;
}
