a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
  }


h1 {
  margin-bottom: -15px;

  font-size: 3em;
  /* Отрицательный отступ между заголовком и текстом */
  }

p {

  font-size: 20px;
  }

body {
  font-family: "RobotoRegular";
  background: #2F3238;
  color: #7F8289;
  }

A {
  color: #7F8289;
  /* Цвет ссылок */
  }

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
  }

a.letter {
color: black; /* Цвет символа */
  }

div {

  font-size: 1em;
  max-width: 600px; /* Ширина */
  padding: 20px; /* Поля */

  position: relative;
  right: -350px;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  }

div.page-404 {

  font-size: 1em;
  width: 600px; /* Ширина */
  padding: 20px; /* Поля */
  position: relative;

  right: -350px;
  bottom: -280px;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  }

header {
  background: url("../img/shattered-island.png") center center no-repeat;
  text-align: center;
  background-size: cover;

  }
