a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}


h1 {
  margin-bottom: -15px;
  font-family: "RobotoRegular";
  font-size: 50px;
  /* Отрицательный отступ между заголовком и текстом */
}

p {
  font-family: "RobotoRegular";
  font-size: 20px;
}

body {
  background: #2F3238;
  color: #7F8289;
}

A {
  color: #7F8289;
  /* Цвет ссылок */
}

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
}
img {
  max-width: 100%;
  position: relative;
  left: -25px;
}
.logo {
  position: relative;
  left: -5px;

}

img.gmail {
    position: relative;
    top: -10px;
    right: -70px;
  }

div {
  font-family: "RobotoRegular";
  font-size: 20px;
  width: 100%; /* Ширина */
  padding: 20px; /* Поля */
  position: relative;

  right: -350px;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}
