a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}


h1 {
  margin-bottom: -15px;
  font-family: "RobotoRegular";
  font-size: 50px;
  /* Отрицательный отступ между заголовком и текстом */
}

p {
  font-family: "RobotoRegular";
  font-size: 20px;
}

body {
  background: #2F3238;
  color: #7F8289;
}

A {
  color: #7F8289;
  /* Цвет ссылок */
}

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
}

a.letter {
color: black; /* Цвет символа */
font-family: "RobotoRegular";
font-size: 25px; /* Размер шрифта */
}

div {
  font-family: "RobotoRegular";
  font-size: 20px;
  max-width: 600px; /* Ширина */
  padding: 20px; /* Поля */
  align: center;
}
  /* position: relative;
  right: -350px;

}
  */
div.page-404 {
  font-family: "RobotoRegular";
  font-size: 25px;
  width: 600px; /* Ширина */
  padding: 20px; /* Поля */
  position: relative;

  right: -350px;
  bottom: -280px;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}
