:root {
  --maxi-width: 600px;
}
h1.site-name {
  margin-bottom: -15px;
  font-size: 4em;
  margin: 0 auto;
  /* Отрицательный отступ между заголовком и текстом */
  }

h1.title-last {
    font-size: 1.7em;
  }


p.links {
  font-size: 1.7em;
  margin: 0 auto;
  }

p.links>a {
  text-decoration: none;
  }


body {
  font-family: "RobotoRegular";
  background: #2F3238;
  color: #7F8289;
  }

A {
  color: #7F8289;
  /* Цвет ссылок */
  }

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
  }

a.letter {
  color: black; /* Цвет символа */
  }

a.gmail {
  color: black; /* Цвет символа */
  }

article.about_me {
  font-size: 1.4em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
  margin-bottom: 10px; /*внешнй отступ*/
  }

section {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
  }

.content-FAQ {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;

  }

.img-FAQ {
    position: relative;
    width: 100%; /* ширина картинки */
    max-width: 500px; /*максимальная ширина текста*/
    margin: 0 auto;
    top: 5px;
    height: auto; /* высота картинки */
    border-radius: 30px;
}

.ul-FAQ {
    position: relative;
    left: -40px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.instagram {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;
}

.social {
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;
  margin-top: 5px;
  margin-left: -50px;
  text-decoration: none;
}

div.page-404 {

  font-size: 1.5em;
  max-width: var(--maxi-width); /* Ширина */
  padding: 20px; /* Поля */

  margin: 0 auto;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  }

header {
  background: url("../img/shattered-island.png") center center no-repeat;
  text-align: center;
  background-size: cover;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: auto;
  padding-left: 20px;
  }

sub {
  font-size: 1em;
  }

.logo {
  position: relative;
  left: -5px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 30px;
  }

hr {
  max-width: 50%;
}

.img_fol {
  max-width: 600px;
  margin: 0 auto;
}

.fol-audio {
  margin: 0 auto;
}

.fol {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  margin: 0 auto;
  margin-bottom: 5px;
}
