:root {
  --maxi-width: 600px;
}

.site-name {
  margin-bottom: -15px;
  font-size: 4em;
  margin: 0 auto;
  /* Отрицательный отступ между заголовком и текстом */
}

.site-name-404 {
  font-size: 4em;
  margin: 0 auto;
  margin-top: -15px;
}

.logo {
  position: relative;
  left: -5px;
  bottom: -14px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.logo-404 {
  position: relative;
  left: -5px;
  bottom: -14px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.title-last {
  font-size: 1.7em;
}

.links {
  font-size: 1.7em;
  margin: 0 auto;
}

.links>a {
  text-decoration: none;
}

body {
  font-family: "RobotoRegular";
  background: #2F3238;
  color: #7F8289;
}

A {
  color: #7F8289;
  /* Цвет ссылок */
}

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
}

.letter {
  color: black; /* Цвет символа */
}

.gmail {
  color: black; /* Цвет символа */
}

.about-me {
  font-size: 1.4em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
  margin-bottom: 10px; /*внешнй отступ*/
}

section {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
}

.content-FAQ {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;
}

.img-FAQ {
  position: relative;
  width: 100%; /* ширина картинки */
  max-width: 500px; /*максимальная ширина текста*/
  margin: 0 auto;
  top: 5px;
  border-radius: 30px;
}

.ul-FAQ {
  position: relative;
  left: -40px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.instagram {
  font-size: 1.3em;
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;
}

.social {
  max-width: var(--maxi-width); /*максимальная ширина текста*/
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.social>img {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.social>a {
  text-decoration: none;

}

.social>p {
  margin-top: -4px;
  font-size: 1.3em;
}

.page-404 {

  font-size: 1.5em;
  max-width: var(--maxi-width); /* Ширина */
  padding: 20px; /* Поля */

  margin: 0 auto;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}

header {
  background: url(../img/shattered-island.png) center center no-repeat;
  text-align: center;
  background-size: cover;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 0 auto;
  padding-left: 20px;
}

.copyright {
  margin-top: 3px;
  font-size: 1em;
  text-align: center;
}

.line {
  border: none;
  max-width: 650px;
  height: 2px;
  background-color: black;
  color: black;
}

/*.img-fol {
  max-width: var(--maxi-width);
  margin: 0 auto;
}*/

.fol-audio {
  position: relative;
  max-width: var(--maxi-width);
  margin: 0 auto;
  margin-top: 10px;
}

.fol {
  position: relative;
  width: 100%;
  max-width: var(--maxi-width);
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 30px;
}
