a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
  }


h1.site-name {
  margin-bottom: -15px;


  /* Отрицательный отступ между заголовком и текстом */
  }
h1.title-last {
  font-size: 60px;
}

p {
  font-size: 20px;
  }

p.links {
  font-size: 1.5em;
  }

body {
  font-family: "RobotoRegular";
  background: #2F3238;
  color: #7F8289;
  }

A {
  color: #7F8289;
  /* Цвет ссылок */
  }

A:visited {
  color: #7F8289;
  /* Цвет посещенных ссылок */
  }

a.letter {
  color: black; /* Цвет символа */
  }

a.gmail {
  color: black; /* Цвет символа */
  }

article {
  font-size: 1.3em;
  max-width: 600px; /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
  margin-bottom: 10px; /*внешнй отступ*/
  }

section {
  font-size: 1.3em;
  max-width: 600px; /*максимальная ширина текста*/
  margin: 0 auto; /* центрирование текста*/
  }

div.page-404 {

  font-size: 1.5em;
  max-width: 600px; /* Ширина */
  padding: 20px; /* Поля */

  margin: 0 auto;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  }

header {
  background: url("../img/shattered-island.png") center center no-repeat;
  text-align: center;
  background-size: cover;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: auto;
  padding-left: 20px;
  }
